* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: auto;
}

img,
video {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.header_home,
.header_photographer {
  width: 80%;
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 45px;
}
.header_home img,
.header_photographer img {
  width: 200px;
  height: 50px;
  padding-left: 25px;
}
.header_home nav,
.header_photographer nav {
  width: 65%;
  padding-left: 25px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .header_home,
.header_photographer {
    flex-direction: column;
    width: 100%;
  }
  .header_home img,
.header_photographer img {
    width: 125px;
    height: 30px;
  }
  .header_home nav,
.header_photographer nav {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
}
@media all and (min-width: 768px) and (max-width: 1100px) {
  .header_home,
.header_photographer {
    flex-direction: column;
    width: 100%;
  }
  .header_home nav,
.header_photographer nav {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
}

.tags__list {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 10px;
  height: 22px;
  padding: 0;
  flex-wrap: wrap;
}
.tags__list--header {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 85px;
  width: 95%;
}
@media screen and (min-width: 375px) and (max-width: 750px) {
  .tags__list--header {
    height: 124px;
  }
}
.tags__list .screen-reader {
  visibility: hidden;
}
.tags .tag_link {
  font-weight: 500;
  padding: 5px;
  color: #901c1c;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 15px;
}
.tags .tag_link:hover {
  background-color: #901c1c;
  color: #fff;
}
.tags:not(.active) {
  background-color: #901c1c;
  color: #fff;
}

.header_link {
  display: none;
  position: fixed;
  z-index: 2;
  top: 12px;
  left: 31%;
  padding: 12px 6px;
  color: #181818;
  background-color: #db8876;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
@media screen and (min-width: 750px) {
  .header_link {
    left: 37%;
  }
}
.header_link .mainSection {
  visibility: visible;
}
.header_link .mainSection:active, .header_link .mainSection:focus {
  font-size: 1.15rem;
  color: #fafafa;
}

main {
  position: relative;
}

.title {
  position: absolute;
  top: -92px;
  right: 0;
  padding-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 400;
  font-size: 36px;
  color: #901c1c;
  left: 5px;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .title {
    top: -87px;
    right: 0;
    font-size: 23px;
  }
}

.photographers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  padding-top: 175px;
}
@media screen and (min-width: 720px) and (max-width: 1024px) {
  .photographers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 720px) {
  .photographers {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 20px;
  }
}
.photographers__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographers__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease;
}
.photographers__item:hover {
  transform: scale(1.02);
}
.photographers img {
  border-radius: 50%;
  height: 210px;
  width: 210px;
}
.photographers h2 {
  color: #d3573c;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 7px;
}
.photographers p {
  margin-top: 0.3rem;
  margin-bottom: 0;
}
.photographers .city {
  color: #901c1c;
}
.photographers .price {
  color: #8c8c8c;
}

.banner {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-left: 25px;
}
.banner__detail {
  padding-left: 25px;
}
.banner__name {
  font-size: 65px;
  margin: 10px 10px 5px 10px;
  color: #d3573c;
  font-weight: 300;
}
.banner__city {
  margin: 0 10px;
  font-size: 30px;
  color: #901c1c;
}
.banner__tagline {
  margin: 20px 10px;
  font-size: 17px;
  color: #525252;
}
.banner img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 25px;
  box-shadow: 5px 5px 10px #dcdcdc;
}
@media screen and (min-width: 375px) and (max-width: 780px) {
  .banner {
    margin-left: 0;
    width: 100%;
    background-color: #fff;
    margin-bottom: 60px;
  }
  .banner__detail {
    padding-left: 0;
  }
  .banner__name {
    font-size: 40px;
  }
  .banner__city {
    font-size: 20px;
  }
  .banner img {
    width: 120px;
    height: 125px;
  }
}

@media screen and (min-width: 375px) and (max-width: 750px) {
  .tag__list {
    flex-wrap: wrap;
    width: 50%;
  }

  .contact {
    position: fixed;
    right: 38%;
    bottom: 25px;
  }
}
.btn-contact {
  font-size: 22px;
  background-color: #901c1c;
  color: #fff;
  border: none;
  padding: 22px 19px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
}
.btn-contact:hover {
  background-color: #db8876;
  color: black;
}

.trie {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 375px) and (max-width: 780px) {
  .trie {
    display: none;
  }
}
.trie label {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
}
.trie .filter {
  margin-left: 25px;
}
.trie .filter .btn-dropdown {
  margin-left: 15px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #901c1c;
  color: #fff;
  font-weight: 600;
}
.trie .filter .dropdown {
  display: none;
  margin: 0 0 0 5px;
  padding-left: 11px;
}
.trie .filter .dropdown:not(.open) li:not(.open) {
  display: none;
}
.trie .filter .dropdown__list {
  cursor: pointer;
  white-space: inherit;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: #901c1c;
  color: #fff;
  border-top: 1px solid #fff;
}

.display {
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  column-gap: 20px;
  padding-top: 45px;
}
@media screen and (min-width: 780px) and (max-width: 1145px) {
  .display {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 780px) {
  .display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
  }
}
.display__item {
  margin: auto 0;
}
.display img,
.display video {
  border-radius: 5px;
  height: 300px;
  width: 350px;
  cursor: pointer;
}
.display img:hover,
.display video:hover {
  transform: scale(1.025);
  transition: ease;
}
.display__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 348px;
  font-size: 20px;
  color: #901c1c;
}
.display__details p {
  margin: 0;
}
.display__details .iconHearts {
  padding: 0 5px;
  cursor: pointer;
}
@media screen and (min-width: 375px) and (max-width: 700px) {
  .display {
    margin-left: 15px;
  }
  .display img,
.display video {
    height: 200px;
    width: 325px;
  }
  .display__details {
    width: 320px;
  }
}

.info {
  position: fixed;
  z-index: 2;
  bottom: -6px;
  right: 5%;
  padding: 12px 45px;
  color: #181818;
  background-color: #db8876;
  font-size: 25px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.info p {
  margin: 0;
}
.info .infoLikes {
  margin-right: 10px;
  display: flex;
}
.info .infoLikes i {
  padding: 2px 5px 0 5px;
}
@media screen and (min-width: 375px) and (max-width: 780px) {
  .info {
    display: none;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #c4c4c440;
}
.bground .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  width: 100%;
  max-width: 570px;
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
  animation: modalOpen 0.8s;
}
.bground .content .modal-body {
  padding: 1rem 8%;
  margin: 1rem auto;
}
.bground .content .modal-body h1,
.bground .content .modal-body h2 {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  margin-right: 35px;
}
.bground .content .modal-body label {
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 11px;
}
.bground .content .modal-body input {
  padding: 8px;
  border: none;
}
.bground .content .modal-body .text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 65px;
}
.bground .content .modal-body .btn-submit {
  background: #901c1c;
  display: block;
  margin: 30px auto 0 0;
  border-radius: 7px;
  font-size: 18px;
  padding: 20px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.bground .content .modal-body .btn-submit:hover {
  background-color: white;
  color: black;
}
.bground .content .modal-body #message {
  height: 170px;
}
.bground .content .modal-body #message::placeholder {
  color: #525252;
  font-size: 1.2em;
  font-family: "DM Sans", sans-serif;
}
.bground .content .modal-body .formData {
  margin-top: 10px;
}
@media screen and (min-width: 375px) and (max-width: 500px) {
  .bground .content {
    padding: 5px 0 10px 0;
  }
  .bground .content .modal-body {
    margin: 0;
    padding: 0;
  }
  .bground .content .modal-body h1,
.bground .content .modal-body h2 {
    font-size: 40px;
    margin-right: 50px;
  }
  .bground .content .modal-body label {
    font-size: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .bground .content {
    padding: 20px 0;
  }
  .bground .content .modal-body {
    margin: 0;
    padding: 0;
  }
  .bground .content .modal-body h1,
.bground .content .modal-body h2 {
    font-size: 35px;
  }
  .bground .content .modal-body label {
    font-size: 35px;
  }
}
.bground .close {
  position: absolute;
  width: 39px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  right: 18px;
  top: 55px;
}
@media screen and (min-width: 375px) and (max-width: 500px) {
  .bground .close {
    top: 50px;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .bground .close {
    top: 20px;
  }
}
.bground .close:before,
.bground .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 72px;
  width: 8px;
  background-color: #fff;
}
@media screen and (min-width: 375px) and (max-width: 500px) {
  .bground .close:before,
.bground .close:after {
    height: 45px;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .bground .close:before,
.bground .close:after {
    height: 50px;
  }
}
.bground .close:before {
  transform: rotate(45deg);
}
.bground .close:after {
  transform: rotate(-45deg);
}

.btn-confirmation {
  background: #901c1c;
  display: block;
  margin: 30px auto 0 0;
  border-radius: 7px;
  font-size: 18px;
  padding: 20px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}
.lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: none;
}
.lightbox__content {
  padding: 70px;
  width: 100%;
}
.lightbox__body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox__body .right_arrow,
.lightbox__body .left_arrow {
  color: #901c1c;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.lightbox__body .right_arrow i,
.lightbox__body .left_arrow i {
  font-size: 45px;
  padding: 0 15px;
}
.lightbox__right {
  position: relative;
}
.lightbox__close {
  position: absolute;
  color: #901c1c;
  font-size: 40px;
  right: 22px;
  top: -430px;
  cursor: pointer;
}
.lightbox__media img,
.lightbox__media video {
  width: 850px;
  height: 800px;
}
.lightbox__media p {
  color: #901c1c;
  margin-top: 20px;
  font-size: 30px;
}
@media screen and (min-width: 375px) and (max-width: 465px) {
  .lightbox__content {
    padding-top: 50px;
  }
  .lightbox__body .left_arrow i,
.lightbox__body .right_arrow i {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .lightbox img,
.lightbox video {
    height: 400px;
    width: 250px;
  }
  .lightbox__close {
    top: -210px;
  }
}
@media screen and (min-width: 465px) and (max-width: 565px) {
  .lightbox__content {
    padding-top: 50px;
  }
  .lightbox__body .left_arrow i,
.lightbox__body .right_arrow i {
    margin-bottom: 45px;
  }
  .lightbox img,
.lightbox video {
    height: 500px;
    width: 350px;
  }
  .lightbox__close {
    top: -255px;
  }
}
@media all and (min-width: 565px) and (max-width: 760px) {
  .lightbox__content {
    padding-top: 65px;
  }
  .lightbox__body .left_arrow i,
.lightbox__body .right_arrow i {
    margin-bottom: 45px;
  }
  .lightbox img,
.lightbox video {
    height: 400px;
    width: 450px;
  }
  .lightbox__close {
    top: -205px;
  }
}
@media all and (min-width: 760px) and (max-width: 1315px) {
  .lightbox__content {
    padding-top: 65px;
  }
  .lightbox img,
.lightbox video {
    height: 600px;
    width: 650px;
  }
  .lightbox__close {
    top: -325px;
  }
}

/*# sourceMappingURL=main.css.map */
