.lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  @include flex;
  display: none;

  &__content {
    padding: 20px;
  }

  &__body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__media {
      width: 400px;
      height: 400px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }

    .right_arrow,
    .left_arrow {
      color: $color-primary;
      background-color: transparent;
      border: none;

      i {
        font-size: 45px;
      }
    }
  }

  &__close {
    position: absolute;
    right: 35px;
    top: 39px;
    width: 39px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  &__close:before,
  &__close:after {
    position: absolute;
    right: 475px;
    content: " ";
    height: 72px;
    width: 8px;
    background-color: $color-primary;
  }
  &__close:before {
    transform: rotate(45deg);
  }
  &__close:after {
    transform: rotate(-45deg);
  }
}

//   &__right {
//     position: relative;
//     height: 100%;
//     @include flex;
//     display: flex;
//   }

//   &__close {
//     position: absolute;
//     top: 0.5rem;
//     width: 100%;
//     cursor: pointer;
//     border: none;
//     background-color: #fff;
//   }

//   i {
//     width: 30px;
//     height: 30px;
//   }

//   &__media {
//     width: 100%;
//     height: 100%;
//   }

//   .lightbox__media {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     border-right: 4px solid grey;
//     border-radius: 5px;
//   }

//   &__left-arrow,
//   &__right-arrow {
//     cursor: pointer;
//     border: none;
//     background: transparent;
//   }
// }
