.lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  @include flex;
  display: none;

  &__content {
    padding: 70px;
    width: 100%;
  }

  &__body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .right_arrow,
    .left_arrow {
      color: $color-primary;
      background-color: transparent;
      border: none;
      cursor: pointer;

      i {
        font-size: 45px;
        padding: 0 15px;
      }
    }
  }

  &__right {
    position: relative;
  }

  &__close {
    position: absolute;
    color: $color-primary;
    font-size: 40px;
    right: 22px;
    top: -430px;
    cursor: pointer;
  }

  &__media {
    img,
    video {
      width: 850px;
      height: 800px;
    }

    p {
      color: $color-primary;
      margin-top: 20px;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 465px) {
    &__content {
      padding-top: 50px;
    }

    &__body {
      .left_arrow,
      .right_arrow {
        i {
          font-size: 35px;
          margin-bottom: 35px;
        }
      }
    }

    img,
    video {
      height: 400px;
      width: 250px;
    }

    &__close {
      top: -210px;
    }
  }

  @media screen and (min-width: 465px) and (max-width: 565px) {
    &__content {
      padding-top: 50px;
    }

    &__body {
      .left_arrow,
      .right_arrow {
        i {
          margin-bottom: 45px;
        }
      }
    }

    img,
    video {
      height: 500px;
      width: 350px;
    }

    &__close {
      top: -255px;
    }
  }

  @media all and (min-width: 565px) and (max-width: 760px) {
    &__content {
      padding-top: 65px;
    }

    &__body {
      .left_arrow,
      .right_arrow {
        i {
          margin-bottom: 45px;
        }
      }
    }

    img,
    video {
      height: 400px;
      width: 450px;
    }

    &__close {
      top: -205px;
    }
  }

  @media all and (min-width: 760px) and (max-width: 1315px) {
    &__content {
      padding-top: 65px;
    }

    img,
    video {
      height: 600px;
      width: 650px;
    }

    &__close {
      top: -325px;
    }
  }
}
