.bground {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #c4c4c440;

  .content {
    display: flex;
    @include flexbox;
    @include flex;
    margin: 5% auto;
    width: 599px;
    max-width: 700px;
    background: $color-hover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: $color-text;
    padding-top: 10px;

    .modal-body {
      padding: 15px 8%;

      form {
        width: 500px;
      }

      h1 {
        font-size: 64px;
        font-weight: 400;
        margin: 0;
      }

      label {
        font-size: 36px;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 11px;
      }
      input {
        padding: 8px;
        border: none;
      }
      .text-control {
        margin: 0;
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        font-size: 20px;
        height: 65px;
      }

      .btn-submit {
        @include button;
      }

      #message {
        height: 170px;

        &::placeholder {
          color: blue;
          font-size: 1.7em;
        }
      }

      .formData {
        margin-top: 10px;
      }
    }
  }

  .close {
    position: absolute;
    right: 35px;
    top: 39px;
    width: 39px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 72px;
    width: 8px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

.btn-confirmation {
  @include button;
}
