.bground {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #c4c4c440;

  .content {
    display: flex;
    @include flexbox;
    @include flex;
    margin: 5% auto;
    width: 100%;
    max-width: 570px;
    background: $color-hover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: $color-text;
    padding-top: 10px;
    animation: modalOpen 0.8s;

    // ------- Content Form --------//

    .modal-body {
      padding: 1rem 8%;
      margin: 1rem auto;

      h1,
      h2 {
        font-size: 64px;
        font-weight: 400;
        margin: 0;
        margin-right: 35px;
      }

      label {
        font-size: 36px;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 11px;
      }
      input {
        padding: 8px;
        border: none;
      }
      .text-control {
        margin: 0;
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        font-size: 20px;
        height: 65px;
      }

      .btn-submit {
        @include button;

        &:hover {
          background-color: white;
          color: black;
        }
      }

      #message {
        height: 170px;

        &::placeholder {
          color: $color-tagline;
          font-size: 1.2em;
          font-family: "DM Sans", sans-serif;
        }
      }

      .formData {
        margin-top: 10px;
      }
    }

    @media screen and (min-width: 375px) and (max-width: 500px) {
      padding: 5px 0 10px 0;

      .modal-body {
        margin: 0;
        padding: 0;

        h1,
        h2 {
          font-size: 40px;
          margin-right: 50px;
        }

        label {
          font-size: 30px;
        }
      }
    }

    @media screen and (min-width: 500px) and (max-width: 700px) {
      padding: 20px 0;

      .modal-body {
        margin: 0;
        padding: 0;

        h1,
        h2 {
          font-size: 35px;
        }

        label {
          font-size: 35px;
        }
      }
    }
  }

  // ----- Close buttun -------//

  .close {
    @include btn-close;
    right: 18px;
    top: 55px;

    @media screen and (min-width: 375px) and (max-width: 500px) {
      top: 50px;
    }

    @media screen and (min-width: 500px) and (max-width: 700px) {
      top: 20px;
    }
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 72px;
    width: 8px;
    background-color: #fff;

    @media screen and (min-width: 375px) and (max-width: 500px) {
      height: 45px;
    }

    @media screen and (min-width: 500px) and (max-width: 700px) {
      height: 50px;
    }
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

.btn-confirmation {
  @include button;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
  }
}
