// Photographer banner
.banner {
  background-color: $color-fond;
  display: flex;
  @include flexbox($direction: row);
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-left: 25px;

  &__detail {
    padding-left: 25px;
  }

  &__name {
    font-size: 65px;
    margin: 10px 10px 5px 10px;
    color: $color-secondary;
    font-weight: 300;
  }

  &__city {
    margin: 0 10px;
    font-size: 30px;
    color: $color-primary;
  }

  &__tagline {
    margin: 20px 10px;
    font-size: 17px;
    color: $color-tagline;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 5px 5px 10px #dcdcdc;
  }
}

.btn-contact {
  font-size: 22px;
  background-color: $color-primary;
  color: $color-deco;
  border: none;
  margin-bottom: 65%;
  padding: 22px 19px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;

  &:hover {
    background-color: $color-hover;
    color: $color-text;
  }
}

// Trie
.trie {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  @include flexbox($direction: row);
  align-items: center;

  label {
    font-size: 16px;
    font-weight: 700;
  }

  .menu {
    margin-left: 15px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-deco;
  }

  .order {
    display: none;
    &__option {
      font-size: 10px;
      cursor: pointer;
      white-space: inherit;
      min-height: 15px;
      display: inline;
      border: none;

      &:hover,
      :focus {
        background-color: $color-hover;
      }
    }
  }
}

// Display photos
.display {
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  padding-top: 45px;

  @include tablette;
  @include screen;

  &__item {
    margin: auto 0;
  }

  img {
    border-radius: 5px;
    height: 300px;
    width: 350px;
  }

  &__details {
    display: flex;
    @include flexbox($direction: row);
    justify-content: space-between;
    width: 348px;

    p {
      margin: 0;
    }
  }
}
