// ------------- Photographer banner -------------//
.banner {
  background-color: $color-fond;
  display: flex;
  @include flexbox($direction: row);
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-left: 25px;

  &__detail {
    padding-left: 25px;
  }

  &__name {
    font-size: 65px;
    margin: 10px 10px 5px 10px;
    color: $color-secondary;
    font-weight: 300;
  }

  &__city {
    margin: 0 10px;
    font-size: 30px;
    color: $color-primary;
  }

  &__tagline {
    margin: 20px 10px;
    font-size: 17px;
    color: $color-tagline;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 5px 5px 10px #dcdcdc;
  }

  @media screen and (min-width: 375px) and (max-width: 780px) {
    margin-left: 0;
    width: 100%;
    background-color: $color-deco;
    margin-bottom: 60px;

    &__detail {
      padding-left: 0;
    }

    &__name {
      font-size: 40px;
    }

    &__city {
      font-size: 20px;
    }

    img {
      width: 120px;
      height: 125px;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 750px) {
  .tag__list {
    flex-wrap: wrap;
    width: 50%;
  }

  .contact {
    position: fixed;
    right: 38%;
    bottom: 25px;
  }
}

.btn-contact {
  font-size: 22px;
  background-color: $color-primary;
  color: $color-deco;
  border: none;
  padding: 22px 19px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;

  &:hover {
    background-color: $color-hover;
    color: $color-text;
  }
}

// -------------- Trie / Dropdown ---------------//
.trie {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  @include flexbox($direction: row);

  @media screen and (min-width: 375px) and (max-width: 780px) {
    display: none;
  }

  label {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
  }

  .filter {
    margin-left: 25px;
    .btn-dropdown {
      margin-left: 15px;
      padding: 15px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 5px;
      background-color: $color-primary;
      color: $color-deco;
      font-weight: 600;
    }

    .dropdown {
      display: none;
      margin: 0 0 0 5px;
      padding-left: 11px;

      &:not(.open) {
        li:not(.open) {
          display: none;
        }
      }

      &__list {
        // font-size: 10px;
        cursor: pointer;
        white-space: inherit;
        padding: 15px;
        font-size: 18px;
        cursor: pointer;
        background-color: $color-primary;
        color: $color-deco;
        border-top: 1px solid $color-deco;
      }

      // .hidden {
      //   display: none;
      //   text-align: left;
      //   width: 100%;
      //   padding: 10px;
      //   &:hover {
      //     background-color: white;
      //     color: $color-primary;
      //   }
      // }
    }
  }
}

// ---------------- Display medias ---------------//
.display {
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  column-gap: 20px;
  padding-top: 45px;

  @include tab_photographer;
  @include screen_photographer;

  &__item {
    margin: auto 0;
  }

  img,
  video {
    border-radius: 5px;
    height: 300px;
    width: 350px;
    cursor: pointer;
    &:hover {
      transform: scale(1.025);
      transition: ease;
    }
  }

  &__details {
    display: flex;
    @include flexbox($direction: row);
    justify-content: space-between;
    width: 348px;
    font-size: 20px;
    color: $color-primary;

    p {
      margin: 0;
    }

    .iconHearts {
      padding: 0 5px;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 700px) {
    margin-left: 15px;

    img,
    video {
      height: 200px;
      width: 325px;
    }

    &__details {
      width: 320px;
    }
  }
}

// ------------ Info Like & Price ------------//
.info {
  position: fixed;
  z-index: 2;
  bottom: -6px;
  right: 5%;
  padding: 12px 45px;
  color: #181818;
  background-color: #db8876;
  font-size: 25px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  display: flex;
  @include flexbox($direction: row);

  p {
    margin: 0;
  }

  .infoLikes {
    margin-right: 10px;
    display: flex;

    i {
      padding: 2px 5px 0 5px;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 780px) {
    display: none;
  }
}
