// Colors
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color: #db8876;
$color-test: #d3573c;
$color-bg: #e5e5e5;
$color-text: black;
$color-deco: #fff;

// Maps
$breakpoint: (
  tab: 700px,
  mobile: 375px,
  desktop: 1024px,
);
