// ----- Colors ------//
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-hover: #db8876;
$color-bg: #e5e5e5;
$color-fond: #fafafa;
$color-tagline: #525252;
$color-text: black;
$color-deco: #fff;

// ----- Maps -----//
$breakpoint: (
  tab: 720px,
  mobile: 375px,
  desktop: 1024px,
);
