// ------- Logo FishEye ---------//
.header_home,
.header_photographer {
  width: 80%;
  height: 90px;
  position: relative;
  display: flex;
  @include flexbox($direction: row);
  top: 45px;

  img {
    width: 200px;
    height: 50px;
    padding-left: 25px;
  }

  nav {
    width: 65%;
    padding-left: 25px;
    padding-top: 30px;
    @include flex;
    display: flex;
  }

  @media screen and (min-width: 375px) and (max-width: 768px) {
    @include flexbox;
    width: 100%;

    img {
      width: 125px;
      height: 30px;
    }

    nav {
      width: 100%;
      padding-left: 0;
      padding-top: 30px;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1100px) {
    @include flexbox;
    width: 100%;

    nav {
      width: 100%;
      padding-left: 0;
      padding-top: 30px;
    }
  }
}

// -------- Filter Tags ----------//
.tags {
  &__list {
    display: flex;
    @include flexbox($direction: row);
    row-gap: 20px;
    column-gap: 10px;
    height: 22px;
    padding: 0;
    flex-wrap: wrap;

    &--header {
      z-index: 1;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 85px;
      width: 95%;

      @media screen and (min-width: 375px) and (max-width: 750px) {
        height: 124px;
      }
    }

    .screen-reader {
      display: hidden;
    }
  }

  a {
    font-weight: 500;
    padding: 5px;
    color: $color-primary;
    border: 0.5px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 15px;

    &:hover {
      background-color: $color-primary;
      color: $color-deco;
    }
  }
}

// -------- Link scroll ----------//
.header_link {
  display: none;
  position: fixed;
  z-index: 2;
  top: 12px;
  left: 31%;
  padding: 12px 6px;
  color: #181818;
  background-color: #db8876;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;

  @media screen and (min-width: 750px) {
    left: 37%;
  }

  .mainSection {
    visibility: visible;

    &:active,
    &:focus {
      font-size: 1.15rem;
      color: #fafafa;
    }
  }
}
