// ------- Affichage du titre -------//
main {
  position: relative;
}

.title {
  position: absolute;
  top: -92px;
  right: 0;
  padding-top: 25px;
  display: flex;
  @include flex($position: flex-end);
  font-weight: 400;
  font-size: 36px;
  color: $color-primary;
  left: 5px;

  @media screen and (min-width: 375px) and (max-width: 768px) {
    top: -87px;
    right: 0;
    font-size: 23px;
  }
}

// ------- Photographers Cards --------- //
.photographers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  padding-top: 175px;

  @include tablette;
  @include screen;

  &__cards {
    display: flex;
    @include flex;
    @include flexbox;
  }

  &__item,
  a {
    display: flex;
    @include flexbox;
    @include flex;
    transition: ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  img {
    border-radius: 50%;
    height: 210px;
    width: 210px;
  }

  h2 {
    color: $color-secondary;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 7px;
  }

  p {
    margin-top: 0.3rem;
    margin-bottom: 0;
  }

  .city {
    color: $color-primary;
  }

  .price {
    color: darken($color-bg, $amount: 35);
  }
}
